<h1>One Task</h1>
<h2><%= @task.name %></h2>
<p><strong>Alcohol level: </strong><%= @task.details %></p>
<p><strong>Completed: </strong><%= @task.completed %></p>

<p>Created: <%= @task.created_at %></p>
